token <%= session[:access_token] %>

<p>
  <%= @response.inspect %>

</p>


<ul>
  <% @account_summaries.items.each do |item| %>
    <li><%= item.name %> (<%= item.id %>)
      <ul>
        <% item.web_properties.each do |property| %>
          <li><%= property.name %> (<%= property.id %>)
            <ul>
              <% property.profiles.each do |profile| %>
                <li><%= profile.name %> (<%= profile.id %>)</li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
